{% load ToDoApp_tags %}

<div class="sidebar d-flex flex-column flex-shrink-0 border border-black">
    <h5><a href="{% url 'tasks' %}" class="d-flex justify-content-center mt-3 nav-link link-dark p-1">Все таски</a></h5>
    <ul class="nav nav-pills flex-column mb-auto">
        {% show_categories cat_selected=cat_selected %}
    </ul>
    <!-- Modal -->
    <a type="button" class="nav-link link-dark text-secondary text-center mb-2" data-bs-toggle="modal" data-bs-target="#createTheme">Новая тема</a>
    <div class="modal fade" id="createTheme" tabindex="-1" aria-labelledby="logErrorLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Новая тема</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        {% for f in forms %}
                            <label for="{{ f.id_for_label }}">{{ f.label }}</label>
                            <p>{{ f }}</p>
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Создать</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <a href="{% url 'register' %}" type="button" class="btn btn-primary">Создать</a>
                </div>
            </div>
        </div>
    </div>
</div>
